<div class="absolute right-0 -top-72 anim -z-1 w-full max-w-[250px] xl:max-w-[450px] select-none">
  <img src="/src/images/Liquid 360p 10fps.gif" alt="grid" draggable="false"/>
</div>
<div
  class="absolute -bottom-72 -left-14 -z-10 w-full max-w-[250px] rotate-180 xl:max-w-[450px] select-none"
>
  <img src="/src/images/Liquid 360p 10fps.gif" alt="grid" draggable="false"/>
</div>
